.container {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  background-color: #FF4B4B;
  padding-left: 30px;
  display: flex;
  align-items: center;

  .el {
    background: #FFF;
    width: 50px;
    height: 50px;
  }
}